.contactDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
}

.contactDiv a {
    text-decoration: none;
    color: var(--foreground-rgb);
    display: flex;
    align-items: center;
    padding: 1vw;
    font-size: 1vw;
}

.contactDiv span {
    text-decoration: underline;
    margin: 1vw
}

.contactDiv img {
    width: 2vw;
    height: auto;
} 

@media screen and (max-width: 768px) {
    
    #contact h2{
        font-size: 1.5rem;
    }

    .contactDiv a {
        font-size: 1rem;
    }

    .contactDiv img {
        width: 1.5rem;
    }
}