:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    min-height: 100vh;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


.page {
    width: 70%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.headerImg {
    width: 15vw;
    height: auto;
    clip-path: circle();
}

.nav {
    border-bottom: 1px solid #ccc;
}

.nav ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.nav li {
    list-style: none;
    margin-right: 10rem;
    margin-bottom: 0;
}

.nav a {
    text-decoration: none;
    color: #ccc;
}

.nav li[data-selected=true] {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: none;
    padding: 2px;
    border-radius: 5px 5px 0 0;
    background-color: black;
    margin-bottom: -1px;
}

* {
    box-sizing: border-box;
  }
   
  @media screen and (max-width: 1024px) {
    .page {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .page {
        width: 100%;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
   
    .header{
        flex-direction: column;
    }
    .headerImg{
        width: 50vw;
    }
    h2{
        font-size: 1.5rem;
    }
    a{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {


    .nav{
        border-bottom: none;
        align-self:start;
        justify-self: start;
    }

    .nav ul{
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        padding: 0;
    }
    .nav li[data-selected=true]{
        border: none;
        background-color: transparent;
        margin-right: 0;
    }
}