.projects{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    grid-auto-rows: 1fr;
}
.projects > *{
    margin: 10px;
    
    
}
@media screen and (max-width: 768px) {
    
    #projects h2{
        font-size: 1.5rem;
    }
}

