.img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.groupmember{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:white; 

}